<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.handrianj.corrie.editors.util.inputs">
      <input
            EditorID="org.handrianj.corrie.demo.editor.GraphDemoEditor"
            InputFactory="org.handrianj.corrie.demo.editor.input.DemoInputFactory">
      </input>
      <input
            EditorID="org.handrianj.corrie.demo.editor.CompositeEditor"
            InputFactory="org.handrianj.corrie.demo.editor.input.DemoInputFactory">
      </input>
      <input
            EditorID="org.handrianj.corrie.demo.editor.ContentDemoEditor"
            InputFactory="org.handrianj.corrie.demo.editor.input.DemoInputFactory">
      </input>
      <input
            EditorID="org.handrianj.corrie.demo.editor.TableDemoEditor"
            InputFactory="org.handrianj.corrie.demo.editor.input.DemoInputFactory">
      </input>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.handrianj.corrie.demo.editor.GraphDemoEditor"
            default="false"
            id="org.handrianj.corrie.demo.editor.GraphDemoEditor"
            name="Graphics">
      </editor>
      <editor
            class="org.handrianj.corrie.demo.editor.TableDemoEditor"
            default="false"
            id="org.handrianj.corrie.demo.editor.TableDemoEditor"
            name="Excel">
      </editor>
      <editor
            class="org.handrianj.corrie.demo.editor.ContentDemoEditor"
            default="false"
            id="org.handrianj.corrie.demo.editor.ContentDemoEditor"
            name="Content">
      </editor>
      <editor
            class="org.handrianj.corrie.demo.editor.CompositeEditor"
            default="false"
            id="org.handrianj.corrie.demo.editor.CompositeEditor"
            name="Composite">
      </editor>
   </extension>
   <extension
         point="org.handrianj.corrie.overview.menuItem">
      <Editor
            editorID="org.handrianj.corrie.demo.editor.GraphDemoEditor">
         <Name
               LangID="1"
               Name="Graphics">
         </Name>
         <Name
               LangID="2"
               Name="Graphiques">
         </Name>
      </Editor>
      <Editor
            editorID="org.handrianj.corrie.demo.editor.TableDemoEditor">
         <Name
               LangID="2"
               Name="Tableaux">
         </Name>
         <Name
               LangID="1"
               Name="Tables">
         </Name>
      </Editor>
  
      <Editor
            editorID="org.handrianj.corrie.demo.editor.CompositeEditor">
         <Name
               LangID="1"
               Name="Composite">
         </Name>
         <Name
               LangID="2"
               Name="Multiple">
         </Name>
      </Editor>
      <Editor
            editorID="org.handrianj.corrie.demo.editor.ContentDemoEditor"
            order="0">
         <Name
               LangID="1"
               Name="Widgets">
         </Name>
         <Name
               LangID="2"
               Name="Widgets">
         </Name>
      </Editor>
   </extension>
   <extension
         point="org.handrianj.corrie.main.defaultLaunch">
      <DefaultEditor
            ApplicationName="Default"
            EditorID="org.handrianj.corrie.demo.editor.ContentDemoEditor"
            PerspectiveID="org.handrianj.corrie.viewsmanager.perspectives.DefaultMenuPerspective">
      </DefaultEditor>
   </extension>
   <extension
         point="org.handrianj.corrie.languagemanager.languages">
      <Language
            defaultLanguage="true"
            langId="1"
            languageName="US">
      </Language>
      <Language
            defaultLanguage="false"
            langId="2"
            languageName="Francais">
      </Language>
   </extension>
   <extension
         point="org.handrianj.corrie.languagemanager.langProvider">
      <LanguageDataProvider
            LanguageProviderClass="org.handrianj.corrie.demo.lang.DialogLangs">
      </LanguageDataProvider>
   </extension>
   <extension
         point="org.handrianj.corrie.picregistry.preload">
      <PluginID
            PluginID="org.handrianj.corrie.demo">
         <Folder
               Folder="img">
            <PreloadedPicture
                  CanBeDisabled="false"
                  Extension=".jpg"
                  NumberOfVersions="1"
                  PictureName="th">
            </PreloadedPicture>
         </Folder>
      </PluginID>
   </extension>

</plugin>
